app-logo {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-nav {
  margin: 20px;
}

a {
  font-weight: bold;
  color: #24527a;
  text-decoration: none;
}

a.active {
  color: white;
}
